body {
	margin: 0 20% ;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
	font-size: 1.5em;
	text-align: center;
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #000000;
	margin-top: 30px;
	color: #efb810;
}
h2 {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #000000;
}
h3{
	text-align: center;
	font-size: 1em;
	color: #000000;
}
nav{
	text-align: center;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.center_text{
		text-align: center;
}
table{
	border: 1px solid black;
}
