body {
	margin: 0 20% ;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h1,h2,h3{
	text-align: center;
	text-shadow: -0.2em 0.2em 0.3em silver;
	text-transform: uppercase;
}
h1 {
	font-size: 2.5em;
	font-family: impact;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 3px solid #efb810;
	color: #efb810;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #000000;
}
h3{
	font-size: 1em;
	color: #000000;
}
nav{
	text-align: center;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.center_text{
		text-align: center;
}
table{
	border: 1px solid black;
}
#about{
	line-height: 0.1em;
	font-size: small;
	font-weight: bold;
}
nav{
	color: #efb810;
	text-shadow: -0.2em 0.2em 0.3em silver;
}
p{
	text-indent: 2em;
}
#preparacion li, #ingredientes li{
	list-style-position: outside;
	line-height: 1.5em;
}
#preparacion li{
	list-style-type: decimal-leading-zero;
}
#ingredientes li{
	list-style-image: url(../img/tenedor.png);
	list-style-type: circle;
	list-style-position: outside;
}
